@import "@/assets/scss/variables.scss";

.button {
  width: 100%;
  border: none;
  font-size: 18px;
  margin-top: 24px;
  color: $cm-gray;
  border-radius: 5px;
  font-weight: lighter;
  background-color: $cm-green;
}
