@import "../../assets/scss/variables.scss";

.home {
  min-width: 100% !important;
  min-height: 100% !important;
  margin-bottom: 16px !important;

  &__avatar {
    margin-top: 50px;
  }

  &__caption {
    margin-top: 50px;
    cursor: default;

    h2 {
      margin: 0;
      color: $cm-black;
      font-size: $title;
    }

    p {
      font-size: $sub-title;
      line-height: 26px;
      margin: 0;
    }

    &--name {
      cursor: pointer !important;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: $cm-green;

      &-icon {
        color: $cm-green;
      }
    }

    &--company {
      color: $cm-green;
      text-decoration: none;
    }

    &--hover:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  @media screen and (min-width:  576px) {
    &__caption {
      margin-top: 15%;
    }
  }

  @media screen and (max-width: 1200px) {
    &__avatar {
      text-align: center;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;

    &__caption {
      h2 {
        font-size: $dt-title;
      }

      p {
        font-size: $dt-sub-title;
        line-height: 45px;
        font-weight: lighter;
      }
    }
  }
}

