@import "@/assets/scss/variables.scss";

.footer {
  min-width: 100%;
  padding: 24px 16px;
  margin: 0 -16px -16px -16px;
  background-color: $cm-green;
  color: $cm-withe;

  &__social-networks {
    margin-top: 24px;

    .title {
      font-size: $sub-title;
      font-weight: lighter;
    }

    .icons { 
      display: flex;
      gap: 5px;

      a {
        color: $cm-withe;
      }
    }
  }

  &__contact {
    margin-top: 12px;

    .title {
      font-size: $sub-title;
      font-weight: lighter;
    }

    .button {
      width: 50%;
    }
  }
}
