@import "../../assets/scss/variables.scss";

.about {
  margin: 0 -16px;
  padding: 16px;
  color: $cm-gray;
  background-color: $cm-blue;
  justify-content: center;

  h2 {
    text-align: center;
  }

  ul {
    padding-left: 16px;
    margin-bottom: 0;
  }

  &__summary {
    padding: 0;

    &--text {
     font-size: $body;
     text-align: justify;
     font-weight: lighter;
     margin-bottom: 24px;
    }
  }

  &__skills {
    margin-top: 24px;

    h4 {
      font-size: $sub-title;
    }

    &--chips {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .button {
    margin-top: 24px;    
  }

  @media screen and (min-width: 992px) {
    padding: 50px 0;
    margin-top: 100px;

    h2 {
      font-size: $dt-title;
      margin-bottom: 25px;
    }

    &__summary {
      h4 {
        font-size: $dt-body;
      }

      &--text {
        font-size: $sub-title;
        margin-bottom: 40px;
      }
    } 
  }
}
